@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,300;1,400&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------HEADER-------*/
/* ----Barra de navegación---- */
header nav {
    background-color: black;
}

header nav div div {
    justify-content: flex-end;
}

header nav div a img {
    width: 130px;
    height: 130px;
}

.nav-item a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 18px;
    transition: 1s;
}

.nav-item a:hover {
    color: red;
}


body {
    font-family: 'Montserrat', sans-serif;
}

/* ------INDEX------ */
/*-----Main-----*/
/* ----Banner---- */
.hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.479)), url(../img/banner4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----Titulo principal---- */
.hero h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: 70px;
    text-align: center;
}

.hero div {
    width: 100%;
    text-align: center;
}

.hero div p {
    margin: 0px 0px 15px 0px;
    line-height: 40px;
    font-weight: 200;
}

.hero div a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.hero div a:hover {
    background-color: rgb(209, 75, 75);
    color: white;
}

/* ----Seccion especial---- */
.cardEsp {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.cardEsp img{
    width: 350px;
}

.cardBody {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.buttomClass {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.buttomClass:hover {
    background-color: rgb(209, 75, 75);
    color: white;
}

/* ---- Grids Sección 2---- */
/* ----GRIDS---- */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 400px;
}

/* ----Título---- */
.titulo h2 {
    color: red;
    text-align: center;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}

/* ----GRIDS ITEMS---- */
/* ----Cuadro de producto---- */
.gridItems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: center;
    width: 250px;
    height: 340px;
    border: 1px solid gainsboro;
    margin: 10px 5px 15px 5px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.548);
    transition: 2s;
}

.gridItems:hover {
    transform: scale(1.25);
}


/* ----Nombre del producto---- */
.gridItems h3 {
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
}

/* ----Imágen del producto---- */
.gridItems img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* ----Boton---- */
.gridItems a {
    align-self: center;
    width: 30%;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* ----Logo de seguimiento---- */
.botonFixed img {
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* ------PRODUCTOS------ */
/* ----Banner de la sección---- */
.ofertaEspecial {
    width: 100%;
    height: 80vh;
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* ----Titulo de la oferta---- */
.ofertaEspecial div h1 {
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

.ofertaEspecial div {
    width: 40%;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

/* ----Descripción de la oferta---- */
.ofertaEspecial div p {
    font-size: 18px;
    margin: 0px 0px 15px 50px;
}

/* ----Botón---- */
.ofertaEspecial div a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.ofertaEspecial div a:hover {
    background-color: rgb(209, 75, 75);
    color: white;
}

/* ----Segundo banner de la sección---- */
.segundaOferta {
    width: 100%;
    height: 80vh;
    background-image: url(../img/banner5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* ----Titulo de la segunda oferta---- */
.segundaOferta div h2 {
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

.segundaOferta div {
    width: 40%;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

/* ----Descripción de la segunda oferta---- */
.segundaOferta div p {
    font-size: 18px;
    margin: 0px 0px 15px 50px;
}

/* ----Botón de la segunda oferta---- */
.segundaOferta div a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.segundaOferta div a:hover {
    background-color: rgb(209, 75, 75);
    color: white;
}

/* ----Card oferta---- */
.card-img-top {
    width: 350px;
}

.cardKurama {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card-title {
    color: red;
}

/* ---Todos los productos---- */
/* ----Titulo---- */
.tituloCard {
    text-align: center;
    color: red;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

/* ----Contenedor de los productos---- */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

/* ----Cuadro del producto---- */
.productos div {
    width: 300px;
    height: 390px;
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 15px;
    border: 1px solid gainsboro;
    margin: 10px 5px 15px 5px;
    text-align: center;
    transition: 1s;
}

.productos div:hover {
    transform: scale(1.05);
}

/* ----Imágen del producto---- */
.productos div img {
    width: 300px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* ----Nombre del producto---- */
.productos div h3 {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

/* ----Botón del producto---- */
.productos div a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

/* ------CONTACTO------ */
/* ----Banner---- */
.banner {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.479)), url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----Titulo---- */
.banner h1 {
    font-size: 60px;
    font-weight: 200;
    line-height: 70px;
    margin: 40px 0px 5px 0px;
    text-align: center;
}

.banner p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

/* ----¿Cómo contactarnos?---- */
.contacto {
    background-color: rgba(0, 0, 0, 0.925);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contenedorContacto {
    display: flex;
    justify-content: space-around;
    margin: 20px 30px 0px 50px;
}

/* ----Título---- */
.contacto h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 200;
}

/* ----Párrafos---- */
.contenedorContacto > div {
    width: 40%;
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
}

.contenedorContacto div h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: green;
    font-size: 40px;
}

/* ------SERVICIOS------ */
/* ----Primera sección---- */
/* ----Banner---- */
.servicioBanner {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.479)), url(../img/banner6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.servicioBanner div {
    width: 100%;
}

/* ----Título---- */
.servicioBanner h1 {
    font-size: 40px;
    font-weight: 200;
    line-height: 70px;
    margin: 10px;
    text-align: center;
}


/* ----Acordeon---- */
.accordionButton {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.925);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
}

/* ----Sección 3---- */
.infoRedesSociales {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----Subtitulo---- */
.infoRedesSociales > div {
    margin: 30px;
}

.infoRedesSociales h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

/* ------SOBRE NOSOTROS------ */
/* ----Banner---- */
.sobreNosotros {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.925);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.infoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----Título del banner---- */
.sobreNosotros h1 {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}

/* ----Parrafo---- */
.sobreNosotros p {
    margin: 10px;
    font-size: 20px;
    text-align: justify;
    font-weight: 200;
}

/* ----Redes sociales---- */
.redesSociales {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----Sección 2---- */
.seccionFinal {
    width: 100%;
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.479)), url(../img/banner2.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----Segundo titulo---- */
.seccionFinal h2 {
    font-size: 50px;
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
}

/*-------FOOTER-------*/
footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ----Lista del footer---- */
footer ul {
    list-style: none;
}

footer ul a {
    text-decoration: none;
    color: whitesmoke;
    margin: 15px 15px 0px 15px;
    font-size: 17px;
    font-weight: 200;
}

/* ----Logos del footer---- */
footer .logoFooter {
    width: 130px;
    height: 130px;
}

footer .sublogo {
    width: 70px;
    height: 70px;
}

/* -------MEDIA QUERIES------- */
/* ----Responsive max-width---- */
/* ------INDEX------ */
/* -----MAIN----- */
@media screen and (max-width:707px) {
    .hero {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width:672px){
    .hero {
        height: 100%;
    }
    .hero div {
        margin: 20px;
    }
}   

@media screen and (max-width:478px){
    .hero div h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:504px){
    .hero div p {
        margin: 5px;
    }
}

/* ----Section 1---- */
@media screen and (max-width:673px){
    .cardEsp {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:350px){
    .cardEsp img {
        width: 100%;
    }
}

@media screen and (max-width:673px){
    .cardBody {
        text-align: center;
    }
}
/* ----Section 2---- */
@media screen and (max-width:1281px) {
    .gridContainer {
        grid-template-columns: 50%;
        justify-content: center;
    }
}

/* -----FOOTER----- */
@media screen and (max-width:786px) {
    footer {
        flex-direction: column;
        padding: 50px;
    }

    footer ul {
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:740px) {
    .botonFixed {
        display: none;
    }
}

/* -----PRODUCTOS------ */
/* -----MAIN----- */
@media screen and (max-width:944px){
    .ofertaEspecial div {
        width: 100%;
    }
    /* --Párrafos-- */
    .ofertaEspecial div p {
        margin: 15px;
    }
    .segundaOferta div {
        width: 100%;
    }
    .segundaOferta div p {
        margin: 15px;
    }
}

@media screen and (max-width:783px){
    .cardKurama {
        flex-direction: column;
        align-items: center;
    }
    .cardBody {
        text-align: center;
    }
}

@media screen and (max-width:355px){
    .cardKurama img {
        width: 100%;
    }
}

/* ------CONTACTO------ */
/* ----Como contactarnos---- */
/* ----Banner---- */
@media screen and (max-width:956px){
    .banner p {
        margin: 15px;
    }
}

@media screen and (max-width:892px){
    .contenedorContacto {
        flex-direction: column;
        align-items: center;
    }
    .contenedorContacto p {
        margin-bottom: 15px;
        text-align: center;
    }
}

@media screen and (max-width:762px){
    .contenedorContacto div {
        width: 100%;
    }
}

@media screen and (max-width:536px){
    .contacto h2 {
        text-align: center;
    }
}

@media screen and (max-width:348px){
    .contacto h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:387px){
    .banner h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:510px){
    .mb-3 {
        margin: 0px !important;
    }
}

@media screen and (max-width:438px){
    .form {
        margin: 10px;
    }
}

/* ------SERVICIOS------ */

@media screen and (max-width:1032px){
    .contenedorServicio {
        flex-direction: column;
        align-items: center;
    }
    .contenedorServicio p {
        text-align: center;
        margin: 10px;
    }
}

/* ----Seccion 2---- */
/* --Párrafos-- */
@media screen and (max-width:666px){
    .contenedorServicio div {
        width: 100%;
    }
    .servicioBanner div h1 {
        text-align: center;
        font-size: 30px;
    }
}

/* --Titulo 2-- */
@media screen and (max-width:588px){
    .seccionServicio h2 {
        text-align: center;
    }
}

@media screen and (max-width:532px){
    .seccionServicio h2 {
        font-size: 28px;
    }
}

/* --Titulo 3-- */
@media screen and (max-width:516px){
    .infoRedesSociales h3 {
        text-align: center;
        font-size: 28px;
    }
}

/* ------SOBRE NOSOTROS------ */
@media screen and (max-width:833px){
    .sobreNosotros p {
        text-align: center;
        margin: 15px;
    }
}

@media screen and (max-width:468px){
    .redesSociales {
        text-align: center;
    }
}

@media screen and (max-width:573px){
    .seccionFinal div h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:572px){
    .infoSobreNosotros h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:465px){
    .infoSobreNosotros p {
        font-size: 17px;
    }
}