@charset "UTF-8";
/*-------HEADER-------*/
/* ----Barra de navegación---- */
header nav {
  background-color: black; }
  header nav div a img {
    width: 130px;
    height: 130px; }
  header nav div {
    justify-content: flex-end; }

header .nav-item a:hover {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 18px;
  transition: 1s;
  color: red; }
