// Mapas
$boton:(
    bg-boton: red,
    color-texto: white,
    decoracion-texto: none,
    padding-boton: 10px,
    borde-boton: 4px,
);

$botonCards:(
    decoracion-texto: none,
    color-texto: white,
    bg-boton: red,
    padding-boton: 5px,
    borde-boton: 5px,
)